

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.pageWrapper {
    background: #1DB2DD;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    overflow: auto;
}

.bookcover-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.bookcover-wrapper img {
    height: 400px;
    height: 30vh;
    width: auto;
    margin: 0 auto;
}

.btn__cta {
    width: 280px;
    height: 60px;
    border-radius: 40px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    overflow: hidden;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    margin-top: 50px;
}

.brand-yellow-btn, .brand-yellow-btn:visited {
    background: linear-gradient(to bottom,#fff433,#ffe000);
    color: #000;
}

.brand-yellow-btn:hover {
    background: #ffe000;
    color: rgba(0,0,0,.5);
}

.time-wrapper {
    position: absolute;
    bottom: -30px;
    left: 14px;
}